@{
    ViewBag.Title = "Groups";
    Bundles.AddInlineScript(
    @<text>
    <script language="javascript">
        window.initWebGrid('@Url.Action("IndexGrid")');
    </script>
    </text>, "inline");
}

<div class="row-fluid">
    <div class="span12">
        <h4>Your Groups</h4>
        <div id="grid"></div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <a href="@Url.Action("Browse")" class="btn btn-primary">Browse all groups</a>
        <a href="@Url.Action("Add")" class="btn btn-primary">Add a new group</a>
    </div>
</div>