.clr1 {
	clear:both;
	height: 1px;
	display: block;
}

.clr2 {
	clear:both;
	height: 2px;
	display: block;
}

.clr3 {
	clear:both;
	height: 3px;
	display: block;
}

.clr4 {
	clear:both;
	height: 4px;
	display: block;
}

.clr5 {
	clear:both;
	height: 5px;
	display: block;
}

.clr10 {
	clear:both;
	height: 10px;
	display: block;
}

.clr20 {
	clear:both;
	height: 20px;
	display: block;
}

.clr30 {
	clear:both;
	height: 30px;
	display: block;
}

.clr40 {
	clear:both;
	height: 40px;
	display: block;
}

.clr50 {
	clear:both;
	height: 50px;
	display: block;
}

.clr60 {
	clear:both;
	height: 60px;
	display: block;
}

.clr70 {
	clear:both;
	height: 70px;
	display: block;
}

.clr80 {
	clear:both;
	height: 80px;
	display: block;
}

.clr90 {
	clear:both;
	height: 90px;
	display: block;
}

.clr100 {
	clear:both;
	height: 100px;
	display: block;
}

h1 a {
	color: black;
	text-decoration: none;
}

h1 a:hover {
	color: black;
	text-decoration: none;
}

th.form {
    width: 80px;
}

td.form {
    width: 80px;
}

#clearText, #clearText:hover, #resetFilter, #resetFilter:hover {
    color: black;
    text-decoration: none;
}

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  cursor: default;
  overflow: auto;
  color: #000;
}
.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-selected {
  background: #0081c2;
  color: #fff !important;
}
.autocomplete-suggestions strong {
  font-weight: bold;
}