.clr1 {
	clear:both;
	height: 1px;
	display: block;
}

.clr2 {
	clear:both;
	height: 2px;
	display: block;
}

.clr3 {
	clear:both;
	height: 3px;
	display: block;
}

.clr4 {
	clear:both;
	height: 4px;
	display: block;
}

.clr5 {
	clear:both;
	height: 5px;
	display: block;
}

.clr10 {
	clear:both;
	height: 10px;
	display: block;
}

.clr20 {
	clear:both;
	height: 20px;
	display: block;
}

.clr30 {
	clear:both;
	height: 30px;
	display: block;
}

.clr40 {
	clear:both;
	height: 40px;
	display: block;
}

.clr50 {
	clear:both;
	height: 50px;
	display: block;
}

.clr60 {
	clear:both;
	height: 60px;
	display: block;
}

.clr70 {
	clear:both;
	height: 70px;
	display: block;
}

.clr80 {
	clear:both;
	height: 80px;
	display: block;
}

.clr90 {
	clear:both;
	height: 90px;
	display: block;
}

.clr100 {
	clear:both;
	height: 100px;
	display: block;
}

h1 a {
	color: black;
	text-decoration: none;
}

h1 a:hover {
	color: black;
	text-decoration: none;
}

th.form {
    width: 80px;
}

td.form {
    width: 80px;
}

#clearText, #clearText:hover, #resetFilter, #resetFilter:hover {
    color: black;
    text-decoration: none;
}

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  cursor: default;
  overflow: auto;
  color: #000;
}
.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-selected {
  background: #0081c2;
  color: #fff !important;
}
.autocomplete-suggestions strong {
  font-weight: bold;
}

/* Overlay */
#simplemodal-overlay {
  background-color: #000;
}
/* Container */
#simplemodal-container {
  height: 500px;
  width: 1200px;
  color: #bbb;
  background-color: #333;
  border: 0px;
  padding: 1px;
}
#simplemodal-container .simplemodal-data {
  padding: 0px;
}
#simplemodal-container code {
  background: #141414;
  border-left: 3px solid #65B43D;
  color: #bbb;
  display: block;
  font-size: 12px;
  margin-bottom: 12px;
  padding: 4px 6px 6px;
}
#simplemodal-container a {
  color: #ddd;
}
#simplemodal-container a.modalCloseImg {
  background: url(../img/x.png) no-repeat;
  width: 25px;
  height: 29px;
  display: inline;
  z-index: 3200;
  position: absolute;
  top: -15px;
  right: -16px;
  cursor: pointer;
}
#simplemodal-container h3 {
  color: #84b8d9;
}

.CodeMirror {
  border: 1px solid #cecece;
}

.https {
	color: #fff !important;
	font-weight: bold;
}

a.https:hover {
	text-decoration: underline !important;
}