/*Unknown words*/
#readingareainner span._u {
  background-color: #F5B8A9;
}

/*Known words*/
#readingareainner span._n {
  background-color: #DAE5EB;
}
/*Ignored words/not seen words*/
#readingareainner span._i {
  background-color: white;
}

/* General font and background colour*/
#readingareainner {
  font-size: 1.2em;
  line-height: 25px;
  font-family: 'Droid Sans', Tahoma, Arial;
  background: #fff;
  padding-left: 15px;
  padding-right: 15px;
}

#readingareainner span._bx {
  font-weight: bold;
}
#readingareainner span._ux {
  text-decoration: underline;
}
#readingareainner span._ix {
  font-style: italic;
}

body {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.nav-pills {
  padding-left: 40px;
  padding-right: 40px;
}
#readingareaouter {
  background: #565656;
  padding-left: 30px;
  padding-right: 30px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#readingareainner table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 0px;
}
#readingareainner table td.f {
  vertical-align: top;
  border-right: 1px solid black;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 49%;
}
#readingareainner table td.s {
  vertical-align: top;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 49%;
}
#readingareainner a {
  color: inherit;
  text-decoration: none;
}

#readingareainner h1,
#readingareainner h2,
#readingareainner h3,
#readingareainner h4,
#readingareainner h5,
#readingareainner h6 {
  display: inline;
}
#textModal {
  z-index: 100;
  position: absolute;
  background-color: #f0f0f0;
  border: 2px solid black;
  width: 700px;
  padding: 3px;
}
#textModal ul.states {
  padding: 0px;
  margin: 0px 0px 5px 0px;
}
#textModal ul.states li {
  display: inline;
  margin-right: 15px;
}
#textModal ul.states li.known {
  background-color: #fff;
}
#textModal ul.states li.notknown {
  background-color: #F5B8A9;
}
#textModal ul.states li.notseen {
  background-color: #DAE5EB;
}
#textModal ul.states li.ignore {
  background-color: #fff;
}
#textModal ul.dictionaries {
  padding: 5px 0px 5px 0px;
  margin: 0px 0px 5px 0px;
  font-size: 13px;
}
#textModal ul.dictionaries li {
  margin-right: 10px;
  display: inline;
}
#textModal input[type="text"],
#textModal textarea {
  border: 1px solid #aeaeae;
  padding: 0px;
  border-radius: 0px;
}

#textModal input[type="text"].changed,
#textModal textarea.changed {
  background-color: #F5B8A9;
}
#audiocontainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#audiocontainer .closelink {
  position: absolute;
  top: 2px;
  right: 5px;
  z-index: 100;
  font-size: smaller;
  font-weight: bold;
}

#readingareainner .radio,  #readingareainner .checkbox {
  display: inline;
  padding-left: 0px;
  vertical-align: baseline;
}

#readingareainner .label {
  display: inline;
  padding: 0px;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  border: 0;
  white-space: inherit;
  border-radius: 0;
}

#readingareainner .show {
  display: inline !important;
}
