@{
    ViewBag.Title = "Internal Error";
}

<div class="row-fluid">
    <div class="span12">
        <div class="media">
            <a class="pull-left">
                <img src="~/Content/img/challenge.png" alt="Challenge" title="Challenge accepted - find and destroy the bug" class="media-object" style="width: 250px"/>
            </a>
            <div class="media-body">
                <div class="clr50"></div>
                <h4 class="media-heading">You found a bug</h4>
                Sorry, you have encountered a bug in the site. The bug fixing gnomes will get to work.
            </div>
        </div>
    </div>
</div>
