@{
    ViewBag.Title = "Index";
}

<div class="clr20"></div>
@{
    using (Html.BeginForm<RandomDataController>(x => x.Index("bob"), FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="create random data"/>
    }
}