@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>API</title>
    <style type="text/css">
        body {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 12px;
            line-height: 1.5em;
            color: #0d0d0d;
            margin-left: 20px;
        }
        h3 { font-size: 12px; }
        p { margin-left: 20px; }
        hr
        {
            border: 0px;
            background-color: #dfdfdf;
            height: 1px;
            width: 98%;
            clear: both;
            margin: auto;
        }
    </style>
</head>
<body>
    <div>
        <strong>Limits</strong>
        <ul>
            <li>1 request / second</li>
            <li>50 queries/hour/user</li>
            <li>250 queries/day/user</li>
        </ul>
        <strong>Usage</strong>
        <ul>
            <li>This API is temporary until Mono supports ASP.NET MVC 4 and the new WebAPI</li>
            <li>Always use POST</li>
            <li>Include the token in the query string with ?t=TOKEN except for authentication</li>
            <li>Parameters should be URL encoded, in pratice this only needs to be for the token and user password</li>
            <li>For a count include ?count=1 in the query string</li>
            <li>For a page include ?page=PAGENUMBER in the query string</li>
            <li>Lists return 250 items at a time, except words which is 1000</li>
            <li>The response should be 200</li>
            <li>Even if the response is 200, check the StatusCode in the JSON</li>
            <li>Modified is a request for all items modified after the specified date, useful for sync</li>
        </ul>
        All response will have the stausCode and statusMessage fields, for example:
        <pre>{"statusCode":401,"statusMessage":"Invalid token"}</pre>
        <h3>v1/user/authenticate/{username}/{password}</h3>
        <p>
            Request a token. Tokens expire 2 hours after their last use.<br/>Example response:
        </p>
        <pre>{"token":"ABC","statusCode":200,"statusMessage":""}</pre>
        <hr/>
        <h3>v1/languages/list</h3>
        <p>
            Example Response:
        </p>
        <pre>
        {
            "languages": [
                {
                    "languageId": "000000000000000000000000",
                    "name": "French",
                    "translateUrl": "http://translate.google.com/?ie=UTF-8&sl=fr&tl=en&text=###",
                    "isRtlLanguage": false,
                    "hasRomanisationField": true,
                    "removeSpaces": false,
                    "modalBehaviour": "LeftClick",
                    "punctuationRegEx": "",
                    "sentenceEndRegEx": "[.?!。]|$",
                    "colour": "",
                    "keepFocus": false,
                    "created": "20120314202102",
                    "modified": "20120314221012"
                },
                {
                    "languageId": "000000000000000000000000",
                    "name": "German",
                    "translateUrl": "http://translate.google.com/?ie=UTF-8&sl=de&tl=en&text=###",
                    "isRtlLanguage": false,
                    "hasRomanisationField": true,
                    "removeSpaces": false,
                    "modalBehaviour": "LeftClick",
                    "punctuationRegEx": null,
                    "sentenceEndRegEx": "[.?!。]|$",
                    "colour": null,
                    "keepFocus": true,
                    "created": "20120314202102",
                    "modified": "20120314202102"
                }
            ],
            "statusCode": 200,
            "statusMessage": ""
        }
        </pre>
        Example count response:
        <pre>{"count":5,"perPage":250,"statusCode":200,"statusMessage":""}</pre>
        <h3>v1/languages/modified/{yyyyMMddHHmmss}</h3>
        <h3>v1/languages/{languageId}</h3>
        <hr/>
        <h3>v1/items/modified/{languageId}/{yyyyMMddHHmmss}</h3>
        <h3>v1/items/{languageId}/list</h3>
        <h3>v1/items/modified/{yyyyMMddHHmmss}</h3>
        <h3>v1/items/list</h3>
        <h3>v1/items/{itemId}</h3>
        <hr/>
        <h3>v1/words/update</h3>
        If the word matches a known word from the <u>wordPhrase</u> it will be updated, otherwise added. When updating leave a field values as null or
        exclude the field to keep the current value. Example Request:
        <pre>
            {
                "words": [
                    {
                        "wordPhrase": "myword",
                        "romanisation": "new romanisation",
                        "definition": "new definition",
                        "baseWord": "new baseWord",
                        "wordState": "Known",
                        "box": null
                    }
                ],
                "languageId": "000000000000000000000000"
            }
        </pre>
        <h3>v1/words/modified/{languageId}/{yyyyMMddHHmmss}</h3>
        <h3>v1/words/modified/{yyyyMMddHHmmss}</h3>
        <h3>v1/words/{languageId}/list</h3>
        <h3>v1/words/list</h3>
        <h3>v1/words/{wordId}</h3>
        <hr/>
        <h3>v1/groups/modified/{groupId}/{yyyyMMddHHmmss}</h3>
        <h3>v1/groups/{groupId}/list</h3>
        <h3>v1/groups/list</h3>
    </div>
</body>
</html>
