@{
    ViewBag.Title = "Terms";
    Bundles.AddInlineScript(
    @<text>
    <script language="javascript">
        window.initWebGrid('@Url.Action("IndexGrid")');
    </script>
    </text>, "inline");
}

<div class="row-fluid">
    <div class="span1"></div>
    <div class="span10">
        <div class="filterbar">
            <input type="text" name="filter" id="filter" class="input-xxlarge" placeholder="search for terms, &quot;multi terms&quot;, languages or tags eg: #known, #notknown, #yourtag" />
            <select name="rowsPerPage" id="rowsPerPage" class="input-small">
                <option value="5">5</option>
                <option value="15">15</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="250">250</option>
            </select>
            <a href="#" id="clearText">
                <i class="icon-remove" title="clear text filter"></i>
            </a>

            <a href="#" id="resetFilter">
                <i class="icon-refresh" title="clear the text filter, sort by and sort direction filter"></i>
            </a>
        </div>
        <div class="clr20"></div>
        <div id="grid"></div>
    </div>
    <div class="span1"></div>
</div>