@{
    Layout = "";
}

<div class="clr10"></div>
<div class="submenu">
    <ul class="nav nav-pills">
        <li><a href="@Url.Action("Index", new { id = Model })">profile</a></li>
        <li><a href="@Url.Action("Index", new { id = Model })">controls</a></li>
        <li><a href="@Url.Action("Index", new { id = Model })">export data</a></li>
        <li><a href="@Url.Action("Delete", new { id = Model })">delete account</a></li>
    </ul>
</div>