@{
    Layout = "";
}

<div class="clr10"></div>
<div class="submenu">
    <ul class="nav nav-pills">
        <li><a href="@Url.Action("Index")">profile</a></li>
        <li><a href="@Url.Action("Index")">controls</a></li>
        <li><a href="@Url.Action("Index")">export data</a></li>
        <li><a href="@Url.Action("Delete")">delete account</a></li>
    </ul>
</div>