<div class="subnav">
    <ul class="subnav">
        <li>@(Html.ActionLink<MessagesController>(x => x.Index(), "inbox"))</li>
        <li>@(Html.ActionLink<MessagesController>(x => x.Send(""), "send new message"))</li>
    </ul>
</div>
<div class="clr10"></div>