@font-face {
    font-family: 'DroidSansRegular';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-webfont.woff') format('woff'),
         url('DroidSans-webfont.ttf') format('truetype'),
         url('DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
#textArea { background-color: #565656; }

#textBottom {
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    border-top: 1px dotted black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-left: 25px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#textTitle {
    display:inline; 
    float:left; 
    margin-left: 20px;
    background-color: white;
}

#textContent 
{
    font-size: 1.2em;
    font-family: 'DroidSansRegular', Tahoma, Arial;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 5px 25px 25px 25px;
}

#textContent p { padding-bottom: 10px; }

#textContent a { text-decoration: none; }

#textContent span { line-height: 25px; }
#textContent span.knx { }
#textContent span.nkx { background-color: #F5B8A9; }
#textContent span.nsx { background-color: #DAE5EB; }
#textContent span.igx { background-color: white; }
#textContent span.wsx { }
#textContent span.pcx { }

#textContent a { color: #0D0D0D; }
#textContent span a:hover { background-color: inherit;}

#textContent table { border-collapse: collapse;width: 100%;}

#textContent table td.f {
    vertical-align: top;
    border-right: 1px solid black;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 49%;
}

#textContent table td.s {
    vertical-align: top;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 49%;
}

/* http://meyerweb.com/eric/tools/color-blend/ */
#textContent span.box1 { background-color: #F5B8A9;}
#textContent span.box2 { background-color: #F0C1A1;}
#textContent span.box3 { background-color: #EBCA98;}
#textContent span.box4 { background-color: #E6D390;}
#textContent span.box5 { background-color: #E1DC88;}
#textContent span.box6 { background-color: #DBE47F;}
#textContent span.box7 { background-color: #D6ED77;}
#textContent span.box8 { background-color: #D1F66E;}
#textContent span.box9 { background-color: #CCFF66;}