.clr
{
    clear: both;
}

.clr5
{
    clear: both;
    height: 5px;
}

.clr10
{
    clear: both;
    height: 10px;
}

.clr15
{
    clear: both;
    height: 15px;
}

.clr20
{
    clear: both;
    height: 20px;
}

.clr50
{
    clear: both;
    height: 50px;
}

.clr100
{
    clear: both;
    height: 100px;
}

.ml5
{
    margin-left: 5px;
}

.ml10
{
    margin-left: 10px;
}

.ml15
{
    margin-left: 15px;
}

.ml20
{
    margin-left: 20px;
}

.ml50
{
    margin-left: 50px;
}

.ml100
{
    margin-left: 100px;
}

.ml125
{
    margin-left: 125px;
}

.ml150
{
    margin-left: 150px;
}

.ml200
{
    margin-left: 200px;
}

.mr5
{
    margin-right: 5px;
}

.mr10
{
    margin-right: 10px;
}

.mr15
{
    margin-right: 15px;
}

.mr20
{
    margin-right: 20px;
}

.mr50
{
    margin-right: 50px;
}

.mr100
{
    margin-right: 100px;
}

.mr125
{
    margin-right: 125px;
}

.mr150
{
    margin-right: 150px;
}

.mr200
{
    margin-right: 200px;
}

.buttons
{
    clear: both;
    margin-left: 180px;
    margin-bottom: 20px;
}

.table thead tr th.button
{
    width: 60px;
}

.ui-autocomplete-loading
{
    background: white url('/content/img/ui-anim_basic_16x16.gif') right center no-repeat;
}

#l1modal, #l2modal, #myModal
{
    width: 800px;
    margin: -30px 0 0 -400px;
}

#myModal
{
    .control-group
    {
        label
        {
            width: auto;
        }

        .controls
        {
            margin-left: 120px;
        }
    }
}

#readingbuttons
{
    width: 400px;

    li
    {
        padding: 8px 0px 8px 0px;
    }
}
