@{
    Layout = "";
}

<div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
        <ul class="nav">
            <li>@Html.ActionLink("index", "Index")</li>
            <li>@Html.ActionLink("import languages", "Import")</li>
            <li>@Html.ActionLink("public languages", "PublicLanguages")</li>
            <li>@Html.ActionLink("add public language", "AddPublicLanguage")</li>
        </ul>
    </div>
</div>
<div style="width: 100%; height: 2px; border: 1px solid red; background: red;"></div>
<div class="clr10"></div>