@model ReadingTool.Site.Models.Home.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot Password";
}
<div class="row-fluid">
    <div class="span12">
        @using(Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { @class="form-horizontal"}))
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <legend>Forgot Password</legend>
                <div class="control-group">
                    @Html.LabelFor(x => x.EmailAddress, new { @class = "control-label" } )
                    <div class="controls">
                        @Html.TextBoxFor(x => x.EmailAddress, new { @placeholder = "your email address", @class="input-xxlarge" })
                        @Html.ValidationMessageFor(x => x.EmailAddress)
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Reset my password</button>
                </div>
            </fieldset>
        }
    </div>
</div>
