body
{
    padding: 5px 20px 0px 20px;
    margin-left: auto;
    margin-right: auto;
}

.clr
{
    clear: both;
}

.clr5
{
    clear: both;
    height: 5px;
}

.clr10
{
    clear: both;
    height: 10px;
}

.clr15
{
    clear: both;
    height: 15px;
}

.clr20
{
    clear: both;
    height: 20px;
}

.clr50
{
    clear: both;
    height: 50px;
}

.clr100
{
    clear: both;
    height: 100px;
}

.errorlist
{
    ul
    {
        list-style: none;

        li
        {
            color: #b5121b;
        }
    }
}

.table
{
    font-size: smaller;

    .col10
    {
        width: 10%;
    }

    .col20
    {
        width: 20%;
    }

    .col30
    {
        width: 30%;
    }

    .col40
    {
        width: 40%;
    }

    .col50
    {
        width: 50%;
    }

    .col60
    {
        width: 60%;
    }

    .col70
    {
        width: 70%;
    }

    .col80
    {
        width: 80%;
    }

    .col90
    {
        width: 90%;
    }

    .col5
    {
        width: 5%;
    }

    .col15
    {
        width: 15%;
    }

    .col25
    {
        width: 25%;
    }

    .col35
    {
        width: 35%;
    }

    .col45
    {
        width: 45%;
    }

    .col55
    {
        width: 55%;
    }

    .col65
    {
        width: 65%;
    }

    .col75
    {
        width: 75%;
    }

    .col85
    {
        width: 85%;
    }

    .col95
    {
        width: 95%;
    }

    form
    {
        margin-bottom: 0px;
    }

    &.review
    {
        a
        {
            color: #b5121b;
            font-weight: bold;
            text-decoration: underline;
        }
    }


    a.normal
    {
        color: black;
        text-decoration: none;
    }
}


.CodeMirror
{
    border: 1px solid #cecece;
}


/* Overlay */
#simplemodal-overlay
{
    background-color: #000;
}

/* Container */
#simplemodal-container
{
    height: 500px;
    width: 1200px;
    color: #bbb;
    background-color: #333;
    border: 0px;
    padding: 1px;
}

    #simplemodal-container .simplemodal-data
    {
        padding: 0px;
    }

    #simplemodal-container code
    {
        background: #141414;
        border-left: 3px solid #65B43D;
        color: #bbb;
        display: block;
        font-size: 12px;
        margin-bottom: 12px;
        padding: 4px 6px 6px;
    }

    #simplemodal-container a
    {
        color: #ddd;
    }

        #simplemodal-container a.modalCloseImg
        {
            background: url(../img/x.png) no-repeat;
            width: 25px;
            height: 29px;
            display: inline;
            z-index: 3200;
            position: absolute;
            top: -15px;
            right: -16px;
            cursor: pointer;
        }

    #simplemodal-container h3
    {
        color: #84b8d9;
    }


.autocomplete-suggestions
{
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    color: #000;
}

.autocomplete-suggestion
{
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected
{
    background: #0081c2;
    color: #fff !important;
}

.autocomplete-suggestions strong
{
    font-weight: bold;
}