@{
    Layout = "";
}

<div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
        <ul class="nav">
            <li>@Html.ActionLink("all texts", "Index")</li>
            <li>@Html.ActionLink("add new text", "Add")</li>
        </ul>
    </div>
</div>
<div class="clr10"></div>
<div class="clr10"></div>
@if(Model is Guid)
{
    <div class="clr10"></div>
    <div class="btn-group">
        <button class="btn btn-small">More options for this text</button>
        <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("Read", new {id=Model})">read</a></li>
            <li><a href="@Url.Action("ReadInParallel", new {id=Model})">read parallel version</a></li>
        </ul>
    </div>
    <div class="clr10"></div>
}