@{
    Layout = "";
}

<div class="clr10"></div>
<div class="submenu">
    <ul class="nav nav-pills">
        <li><a href="@Url.Action("Index", new { id = Model })">your texts</a></li>
        <li><a href="@Url.Action("Add", new { id = Model })">add a new text</a></li>
        @if(Model is Guid)
        {
            <li><a href="@Url.Action("Read", new { id = Model })">read</a></li>
            <li><a href="@Url.Action("ReadInParallel", new { id = Model })">read parallel version</a></li>
        }
    </ul>
</div>