@{
    Layout = "";
}

<div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
        <ul class="nav">
            <li>@Html.ActionLink("all texts", "Index")</li>
            <li>@Html.ActionLink("add new text", "Add")</li>
        </ul>
    </div>
</div>
<div class="clr10"></div>