@using ReadingTool.Core
@model ReadingTool.Site.Models.User.ReadViewModel
@{
    <text>
        <script id="term-ul-template" type="text/html">
            {{#each individualTerms}}
            {{#if @@index}}
            <li><a href="#tab{{@@index}}" data-toggle="tab" data-termid="{{id}}" data-messageid="itermMessage{{@@index}}">{{title}}</a></li>
            {{else}}
            <li><a href="#tab{{@@index}}" data-toggle="tab" data-termid="{{id}}" data-messageid="itermMessage{{@@index}}">{{title}}</a></li>
            {{/if}}
            {{/each}}
        </script>
        <script id="term-div-template" type="text/html">
            {{#each individualTerms}}
            <div class="tab-pane" id="tab{{@@index}}">
                <input type="hidden" name="model.Index" value="{{id}}" />
                <input type="hidden" name="model[{{id}}].Id" value="{{id}}" />

                <div class="control-group">
                    <label class="control-label" for="sentence.{{id}}">Sentence</label>
                    <div class="controls">
                        <input type="text" id="sentence{{id}}" name="model[{{id}}].Sentence" placeholder="Sentence" class="input-xxlarge" />
                        <a href="#" title="replace the definition sentence with the current one from the text" onclick="selectedWord.refreshSentence('#sentence{{id}}')"><i class="icon-repeat"></i></a>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="{{id}}">Base term</label>
                    <div class="controls">
                        <input type="text" id="baseTerm{{id}}" name="model[{{id}}].BaseTerm" placeholder="base term" class="input-xxlarge" />
                    </div>
                </div>


                @if(Model.Language.Settings.ShowRomanisation)
                {
                    <div class="control-group">
                        <label class="control-label" for="romanisation{{id}}">Romanisation</label>
                        <div class="controls">
                            <input type="text" id="romanisation{{id}}" name="model[{{id}}].Romanisation" placeholder="romanisation" class="input-xxlarge" />
                        </div>
                    </div>
                }
                else
                {
                    <input type="hidden" id="romanisation{{id}}" name="model[{{id}}].Romanisation" value="" />
                }

                <div class="control-group">
                    <label class="control-label" for="definition{{id}}">Definition</label>
                    <div class="controls">
                        <textarea id="definition{{id}}" name="model[{{id}}].Definition" class="input-xxlarge" placeholder="Definition"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="tags{{id}}">Tags</label>
                    <div class="controls">
                        <input type="text" id="tags{{id}}" name="model[{{id}}].Tags" placeholder="Tags" class="input-xxlarge" />
                    </div>
                </div>
            </div>
            {{/each}}
        </script>

        <script id="term-message-template" type="text/html">
            <span class="badge" id="currentBox" title="the current box of your term"></span>
            <span class="label label-info" id="termMessage" style="font-size: 11px"></span>
            {{#each individualTerms}}
                <span style="font-size: 11px; display: none;" class="itermMessage label label-info" id="itermMessage{{@@index}}">{{message}}</span>
            {{/each}}
        </script>
    </text>
}