@{
    Layout = "";
}

<div class="clr10"></div>
<div class="submenu">
    <ul class="nav nav-pills">
        <li><a href="@Url.Action("Index")">your terms</a></li>
        @if(Model is Guid)
        {
        }
    </ul>
</div>