@{
    ViewBag.Title = "Languages";
    Bundles.AddInlineScript(
    @<text>
    <script language="javascript">
        window.initWebGrid('@Url.Action("IndexGrid")');
    </script>
    </text>, "inline");
}

<div class="row-fluid">
    <div class="span1"></div>
    <div class="span10">
        <div id="grid"></div>
    </div>
    <div class="span1"></div>
</div>
<div class="row-fluid">
    <div class="span1"></div>
    <div class="span10">
        <a href="@Url.Action("Add")" class="btn btn-primary">Add a new language</a>
    </div>
    <div class="span1"></div>
</div>