@{
    ViewBag.Title = "Export";
}

@section Menu
{
    @Html.Partial("Partials/_menu")
}

@using(Html.BeginForm("ImportExport", "MyAccount", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Import your LWT account</legend>
        
        <div class="buttons">
            <input type="submit" class="btn btn-primary" name="export" value="import your LWT account"/>
        </div>
    </fieldset>
}
<div class="clr20"></div>
@using(Html.BeginForm("ImportExport", "MyAccount", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Export your account data</legend>

        <div class="buttons">
            <input type="submit" class="btn btn-primary" name="export" value="export your account data"/>
        </div>
    </fieldset>
}
