@{
    ViewBag.Title = "Todo";
}
<h2>
    Todo</h2>
<ul>
    <li>model validation --> users, groups, texts, videos</li>
    <li>multi term words --> add sup on save</li>
    <li>background tasks --> emails, generate user statistics, site statistics, group statistics</li>
    <li>text -> number words/avg words per etc</li>
</ul>
<div class="clr20">
</div>
<h2>
    Not so important</h2>
<ul>
    <li>ruby for definitions</li>
    <li>entity validation</li>
    <li>group/site wall</li>
    <li>filter->tags names on # dropdown</li>
    <li>create group items with correct data</li>
    <li>s3</li>
    <li>videos --> remove the JS timings from the page, fix in general</li>
    <li>cached tokenised texts --> individuals + groups</li>
    <li>language dictionaries --> change to dynamic</li>
    <li>make the lwt word importer more robust</li>
    <li>check duplicate words in lwt importer db --> enforce uniqueness in DB --> on collection created (lower+languageId=>unique keys)</li>
    <li>change to jqueryui modal</li>
    <li>message trash</li>
    <li>internationalization</li>
    <li>multi letter punctuation</li>
    <li>pdf</li>
    <li>print view --> split vertically reference unknown words</li>
</ul>
